<template>
  <div>
    <div
      v-for="error in errors"
      class="alert"
      :class="'alert-'+error.type"
      role="alert"
      :key="error.message"
    >
      {{error.message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    errors: {
      type: Array,
      default: () => []
    }
  }
};
</script>
